.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  align-self: flex-start;
  border-radius: 8px;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: $secondary;
  color: $bright;
  font-family: "Lato";
  font-size: 1.4rem;
  font-weight: 700;
  @media (min-width: 991px) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 192px;
    width: auto;
  }
  span {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px;
  }

  &__right-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
}
