$primary: #494f66;
$secondary: #ef3340;
$muted: #676f8f;
$border: #c5cbe0;
$bright: #ffffff;
$accent: #6f7dff;
$yellow: #ffc857;
$green: #43b748;
$red: #dd403a;
$shade: #f7f8fc;
$tint: #e4e8f7;
$gray-title: #a3abcc;
$gray-border: #f0f2fa;
