$top-navbar-height: 56px;
$footer-height: 260px;
$standard-paragraph-size: 1.4rem;
$standard-paragraph-weight: 400;
$h1-desktop: 2.8rem;
$h2-desktop: 2.4rem;
$h3-desktop: 2.8rem;
$h4-desktop: 2.4rem;
